@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: rgb(56, 191, 236);
    color: rgb(36, 36, 36);
    width: 100%;
    height: 5vh;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 0 1rem;
}

.page-title {
    text-align: center;
    padding: 1rem;
    color: rgb(36, 36, 36);
}

.post {
    width: 70%;
    margin: 2rem auto;
    padding: 2rem 1rem;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.post h1 {
    color: #333;
    font-size: 1.5rem;
}

.post p {
    padding: 1rem 0;
}

.edit-post-btn {
    color: black;
    padding: 0.5rem 0.75rem;
    background-color: coral;
    border-radius: 5px;
    margin-top: 1rem;
}

.form-container form {
    width: 70%;
    margin: 3rem auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 10px;
}


.form-container form input,
.form-container form button {
    border: none;
    outline: none;
    background: none;
    padding: 0.75rem 1rem;
    width: 100%;
    border-radius: 5px;
    color: #333;
    margin: 1rem 0;
    border: 1px solid #333;
}

.form-container form input::placeholder {
    color: #333;
}

.form-container form button {
    background-color: rgb(56, 191, 236);
    color: #333;
    cursor: pointer;
    font-weight: 600;
    width: 50%;
}

.error {
    border: 1px solid red !important;
}

.flash-msg {
    text-align:center; 
    color:limegreen; 
    margin: 2rem 2rem 1rem 2rem; 
    padding: 1rem 0; 
    border: 1px solid limegreen; 
    border-radius: 5px;
}